/*
*===================================
*    FONTS
*===================================
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300|Open+Sans+Condensed:300);

@font-face {
	font-family:fontello;src:url(../fonts/fontello.eot?37157585);src:url(../fonts/fontello.eot?37157585#iefix) format('embedded-opentype'),url(../fonts/fontello.woff?37157585) format('woff'),url(../fonts/fontello.ttf?37157585) format('truetype'),url(../fonts/fontello.svg?37157585#fontello) format('svg');font-weight:400;font-style:normal;
}
/*
*===================================
*    RESET
*===================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing : border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-size : 62.5%;

}
html{
    height: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background-color : #f0f0f0 ;
    width: 100%;
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}

@media print {
	blockquote,p {
		orphans: 2;
		widows: 2;
	}

	blockquote,ol,ul {
		page-break-inside: avoid;
	}

	caption,h1,h2,h3 {
		page-break-after: avoid;
	}
}

@-ms-viewport {
	width:device-width;zoom:1;
}

@-o-viewport {
	width:device-width;zoom:1;
}

@viewport {
	width:device-width;zoom:1;
}

a img {
	border: 0;
}

body>script {
	display: none!important;
}
/*
*===================================
*    ICONS
*===================================
*/
[class*=" icon-"]:before,[class^=icon-]:before {
	font-family: fontello;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}

.icon-logo_patcorn:before {
	content: '\e82f';
}

.icon-camera:before {
	content: '\e834';
}

.icon-firefox:before {
	content: '\e800';
}

.icon-chrome:before {
	content: '\e801';
}

.icon-opera:before {
	content: '\e802';
}

.icon-ie:before {
	content: '\e803';
}

.icon-users:before {
	content: '\e835';
}

.icon-info:before {
	content: '\e805';
}

.icon-lock:before {
	content: '\e806';
}

.icon-lock-open-alt:before {
	content: '\e807';
}

.icon-code:before {
	content: '\e808';
}

.icon-comment:before {
	content: '\e809';
}

.icon-attention:before {
	content: '\e80a';
}

.icon-direction:before {
	content: '\e80b';
}

.icon-cog:before {
	content: '\e80c';
}

.icon-cog-alt:before {
	content: '\e80d';
}

.icon-volume-off:before {
	content: '\e80e';
}

.icon-volume-down:before {
	content: '\e80f';
}

.icon-volume-up:before {
	content: '\e810';
}

.icon-angle-left:before {
	content: '\e811';
}

.icon-angle-right:before {
	content: '\e812';
}

.icon-angle-up:before {
	content: '\e813';
}

.icon-angle-down:before {
	content: '\e814';
}

.icon-play:before {
	content: '\e815';
}

.icon-stop:before {
	content: '\e816';
}

.icon-pause:before {
	content: '\e817';
}

.icon-to-end:before {
	content: '\e818';
}

.icon-to-end-alt:before {
	content: '\e819';
}

.icon-to-start:before {
	content: '\e81a';
}

.icon-to-start-alt:before {
	content: '\e81b';
}

.icon-fast-fw:before {
	content: '\e81c';
}

.icon-fast-bw:before {
	content: '\e81d';
}

.icon-spin1:before {
	content: '\e804';
}

.icon-desktop:before {
	content: '\e81f';
}

.icon-laptop:before {
	content: '\e820';
}

.icon-tablet:before {
	content: '\e821';
}

.icon-mobile:before {
	content: '\e822';
}

.icon-globe:before {
	content: '\e823';
}

.icon-facebook-squared:before {
	content: '\e828';
}

.icon-github-squared:before {
	content: '\e829';
}

.icon-gplus-squared:before {
	content: '\e82a';
}

.icon-html5:before {
	content: '\e82b';
}

.icon-linkedin-squared:before {
	content: '\e82c';
}

.icon-twitter-squared:before {
	content: '\e82d';
}

.icon-youtube:before {
	content: '\e82e';
}

.icon-star:before {
	content: '\e836';
}

.icon-star-empty:before {
	content: '\e837';
}

.icon-video:before {
	content: '\e838';
}

.icon-check:before {
	content: '\e839';
}

.icon-cancel:before {
	content: '\e83a';
}

.icon-down-dir-1:before {
	content: '\e830';
}

.icon-left-dir-1:before {
	content: '\e831';
}

.icon-right-dir-1:before {
	content: '\e832';
}

.icon-up-dir-1:before {
	content: '\e833';
}

.icon-paper-plane:before {
	content: '\e824';
}

.icon-volume-off-1:before {
	content: '\e83b';
}

.icon-volume-down-1:before {
	content: '\e83c';
}

.icon-volume-up-1:before {
	content: '\e83d';
}

.icon-resize-full:before {
	content: '\e826';
}

.icon-resize-small:before {
	content: '\e827';
}

.icon-award:before {
	content: '\e825';
}

.icon-art-gallery:before {
	content: '\e83e';
}

.icon-college:before {
	content: '\e83f';
}

.icon-signal:before {
	content: '\e81e';
}
/*
*===================================
*    GENERIC
*===================================
*/
#noscript {
	position: fixed;
	top: 40%;
	left: 50%;
	padding: 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-left: -200px!important;
	opacity: .9;
	border: 1px red solid;
	width: 400px!important;
	color: red;
	background-color: #000;
	text-shadow: 0 0 0 #000!important;
	z-index: 9999;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	box-sizing: border-box;
	font-family: "Open Sans","Lucida Grande","Helvetica Neue",sans-serif;
	font-weight: 300;
	font-size: 62.5%;
	color: rgba(0,0,0,0.8);
	overflow: hidden;
}

h1 {
	font-size: 3rem;
    line-height: 6rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.3),0 1px 0px rgba(255,255,255,0.2);
}

h2 {
	font-size: 2rem;
    line-height: 4rem;
	font-weight: 800;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h3 {
	font-size: 1.6rem;
    line-height: 3.2rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h4 {
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h5 {
	font-size: 0.8rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

p {
    font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
    line-height: 2.1rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
    letter-spacing: 0.05em;
    text-shadow: 0 0 20px rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.6);
    text-align: left;
}

a,a:active,a:visited {
	text-decoration: none;
	color: #000;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
	cursor: pointer;
}

a:hover {
	color: #000;

    transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -webkit-transition: all 0s ease;
}

audio{
    display: none;   
}

.hidden{
    display: none !important;
    opacity: 0 !important;
}
.loader{
    width:50px;
    height: 50px;
}
.loader_bar{
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 2000;
}
/*
*===================================
*    VIDEO
*===================================
*/
#video_bg {
	position: fixed;
	left: 50%;
	top: 50%;
    /*
	min-width: 100%;
	min-height: 100%;
	max-height: 4000%;
	max-width: 1000%;
    */
	z-index: -1000;
	overflow: hidden;
    
	background: url(../img/pattern.jpg) no-repeat;
	-ms-background-size: cover;
	background-size: cover;
}

#wrapper_video {
	position: absolute;
	width: 100%;
	height: 100%;
    
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYmZiNWFhIiBzdG9wLW9wYWNpdHk9IjAuOTUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZGVlMGQ5IiBzdG9wLW9wYWNpdHk9IjAuODUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M3ZDBkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(31,14%,80%,0.95)), color-stop(40%,hsla(77,10%,95%,0.75)), color-stop(100%,hsla(204,15%,70%,1)));
    background: -webkit-linear-gradient(-45deg,  hsla(31,14%,80%,0.95) 0%,hsla(77,10%,95%,0.75) 40%,hsla(204,15%,70%,1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(31,14%,80%,0.95) 0%, hsla(77,10%,95%,0.75) 40%, hsla(204,15%,70%,1) 100%);
    background: linear-gradient(135deg,  hsla(31,14%,80%,0.95) 0%,hsla(77,10%,95%,0.75) 40%,hsla(204,15%,70%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bfb5aa', endColorstr='#c7d0d6',GradientType=1 );


}
/*
*===================================
*    HEADER
*===================================
*/
#header {
	z-index: 300;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
    
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZWRlNyIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(144,22%,91%,0.3)), color-stop(100%,hsla(0,0%,0%,0)));
background: -webkit-linear-gradient(top,  hsla(144,22%,91%,0.3) 0%,hsla(0,0%,0%,0) 100%);
background: -webkit-linear-gradient(top, hsla(144,22%,91%,0.3) 0%, hsla(0,0%,0%,0) 100%);
background: linear-gradient(to bottom,  hsla(144,22%,91%,0.3) 0%,hsla(0,0%,0%,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4de3ede7', endColorstr='#00000000',GradientType=0 );
    
}

@-moz-document url-prefix() {
    #header,#footer{
        background: none !important;   
    }
}
/*
*===================================
*    WRAPPER
*===================================
*/
#wrapper {
	position: absolute;
	perspective: 1500px;
	-o-perspective: 1500px;
	-ms-perspective: 1500px;
	-moz-perspective: 1500px;
	-webkit-perspective: 1500px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #232323;
}

.yolo {
	transform: rotateX(180deg)!important;
	-o-transform: rotateX(180deg)!important;
	-ms-transform: rotateX(180deg)!important;
	-moz-transform: rotateX(180deg)!important;
	-webkit-transform: rotateX(180deg)!important;
}

#container {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    display: table;
        
/*	background-image: url(../img/bg_bruit.png);*/
}

#beforeLoad{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    background:#cccbc7;
    display:table;
}
#beforeLoad div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}
/*
*===================================
*    CONTENT
*===================================
*/

/* Navigation Pages */
#navProgress{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -140px;
    left: 25px;
    width: 30px;
    height: auto;
    text-align: center;
}

#navProgress:after{
    content:'';   
}
.navProgress_step{
    display: block;
    padding: 10px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
#navProgress_bar{
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 14px;
    margin-top: 15px;
    height: 100%;
    background: rgba(0,0,0,0.1);
    
    -webkit-transition: height .6s ease;
            transition: height .6s ease;
}
.navProgress_step:hover{
    color: rgba(0,0,0,0.6);
    
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.active_step{
    color: rgba(0,0,0,0.6);
    cursor: default;
    pointer-events: none;
}
/* Pages */
.page{
    width: 100%;
    height: 100%;
    padding: 0 80px;
    text-align: center;
    
    display: table-cell;
    vertical-align: middle;
}

#page_home>p{
    text-align: center;
}
.title_site{
    font-size: 4.5rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 800;
}
.page>header{
    position: absolute;
    top: 80px;
    left:80px;
}
.title_page{
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2em;
}
.title_page:before{
    content:"▹ ";
    margin-right: 10px;
}
/*
.title_page:before{
    content:"◃ "   
}
.title_page:after{
    content:" ▹" 
}
*/
.sub_title{
    font-weight: 400;
    line-height: 2.1rem;
}

.description{
    text-transform: inherit;
    font-size: 1.6rem;
    margin-top: 20px;
    font-weight: 400;
}
.important_words{
      
}
.important_words h4 {
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.2em;
/*    color: #000;*/
}
.important_words span {
    text-shadow: none;
    margin-top: 60px;
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.important_words img {
    width: 50%;
    margin-bottom: 10px;
}
.important_words p{
    text-align: center;
}
.scroll_down{
    margin-top: 30px;
}
.scroll_down>span{
    font-size: 1.8rem;
    cursor: pointer;
    
    animation: anim 2s infinite;
    -webkit-animation: anim 2s infinite;
    -moz-animation: anim 2s infinite;
    -ms-animation: anim 2s infinite;
    -o-animation: anim 2s infinite;
}

@keyframes anim {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(10px);transform: translateY(10px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@-webkit-keyframes anim {
	0% {-webkit-transform: translateY(0px);}
	50% {-webkit-transform: translateY(10px);}
	100% {-webkit-transform: translateY(0px);}
}

@-ms-keyframes anim {
	0% {-ms-transform: translateY(0px);}
	50% {-ms-transform: translateY(10px);}
	100% {-ms-transform: translateY(0px);}
}

/* Tree of Skills */
#page_skills{
/*    vertical-align: top;  */
}
#page_skills>p{
    text-align: right;
    margin-top: 80px;
}
#skills_description,.skill{
    max-width: 420px;
    min-width: 320px;
    float: right;
    text-align: right;
}
#skills_description p,.skill p{
    text-align: right;
}
#tree_of_skills{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#tree_of_skills>svg{
    position: absolute;
    bottom:0;
    left:0;
}
#tree_of_skills>svg>path:last-child{
    fill: #000 !important;
    opacity: 0 !important;
    stroke-width: 0 !important;
}
.node {
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 0.6;
    -webkit-transition: opacity .6s ease;
            transition: opacity .6s ease;
    background: #fff;
    stroke: rgba(255,255,255,0.3);
    stroke-width:1.5px;
}
.node:hover{
/*    fill: rgba(0,0,0,0.2);*/
    opacity: 0.9;
    -webkit-transition: opacity 0s ease;
            transition: opacity 0s ease;
    
}
.node:active{
    cursor:-webkit-grabbing;
    cursor:grabbing
}

.link {
    fill: none;
    stroke: url(#gradient_line);
/*    stroke: rgba(0,0,0,0.1);*/
    stroke-width: 1.5px;
}

.s_img{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    background: rgba(0,0,0,0.6);
}

/* Production */
#page_production>p{
    text-align: center;
}
#projects{
    width:640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 60px;   
}
#projects_3D{
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;  
    -webkit-animation  : spinning 12s infinite linear;  
            animation  : spinning 12s infinite linear;
}
@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(90deg) rotateY(360deg);
            transform: rotateX(90deg) rotateY(360deg);
  }
}
.a_project{
    position: absolute;
    top: 0;
    left: 0;
    width:640px;
    height:300px;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    background: rgba(255,255,255,0.8);
    -webkit-transform: translateZ(-320px);
            transform: translateZ(-320px);
}

.a_project:nth-child(2) {
  -webkit-transform: rotateY(60deg);
      -ms-transform: rotateY(60deg);
          transform: rotateY(60deg);
}
.a_project:nth-child(3) {
  -webkit-transform: rotateY(120deg);
      -ms-transform: rotateY(120deg);
          transform: rotateY(120deg);
}
.a_project:nth-child(4) {
  -webkit-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.a_project:nth-child(5) {
  -webkit-transform: rotateY(240deg);
      -ms-transform: rotateY(240deg);
          transform: rotateY(240deg);
}
.a_project:nth-child(6) {
  -webkit-transform: rotateY(300deg);
      -ms-transform: rotateY(300deg);
          transform: rotateY(300deg);
}

.a_project header{
    float: left;
    width: 30%;  
}
.p_status {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 20px;
}
.a_project hr{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px auto;
    width: 40px;
}
.a_project .p_description{
    width: 50%;
    float: left;
    display: none;
}
.a_project footer{
    width: 20%;
    float: left;
    display: none;
}
.a_project footer p{
    display: block;
    font-size: 1.2rem;
}
.p_title{
       
}
.p_tools::before{
    content: "Tools";
    display: block;
    font-weight: 800;
    text-align: center;
}
.p_role::before{
    content: "Role";
    display: block;
    font-weight: 800;  
    text-align: center;
}
/* Bonhomme */
#bonhomme{
    position: absolute;
    right: 2%;
    bottom: -3%;
    opacity: 0.8;
    display: none;
}
.animContainer{
    display: block;
    width: 320px;
    height: 320px;
    margin: 0 auto;
/*    z-index: -100;*/

    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
#bonhomme_anim{
    width: 100%;
    height: 100%;
    background: url("../img/bonhomme.png") 0 0 no-repeat;
    margin: 0 auto;
}
/*
*===================================
*    FOOTER
*===================================
*/
#footer {
	z-index: 300;
	display: table;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YjkyOGIiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(100%,hsla(26,7%,58%,0.5)));
background: -webkit-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(26,7%,58%,0.5) 100%);
background: -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(26,7%,58%,0.5) 100%);
background: linear-gradient(to bottom,  hsla(0,0%,0%,0) 0%,hsla(26,7%,58%,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#809b928b',GradientType=0 );


}

#progressBar {
	display: block;
	position: fixed;
	z-index: 120;
	width: 0;
	height: 5px;
	background: rgba(255,255,255,.3);
	bottom: 0;
	left: 0;
	transition: width .5s ease;
	-o-transition: width .5s ease;
	-ms-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-webkit-transition: width .5s ease;
}

#controls {
	text-align: left;
	width: 100%;
	margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
#controls a{
    display: block;
    float: left;
    overflow: hidden;
    color: rgba(0,0,0,.3);
    text-align: center;
    width: 25px;
	height: 30px;
	font-size: 1.5rem;
    padding-top: 6px;
}
#controls a:hover {
	color: rgba(0,0,0,.6);
}
#controls a:first-child{
    width: 60px;
    padding-top: 0;
}
.toggle_sound{
    font-size: 2rem;
    padding-top: 5px;
}

@media screen and (max-width: 1024px){
    #controls{
        display: none;   
    }
    #bonhomme{
        display: none !important;   
    }
}
@media screen and (max-width: 640px){
    #navProgress{
        left: -100%;
    }
    .page{
        padding: 0 20px;   
    }
    #tree_of_skills{
        display: none;
    }
}