/*
*===================================
*    FONTS
*===================================
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300|Open+Sans+Condensed:300);
/*
*===================================
*    RESET
*===================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing : border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-size : 62.5%;

}
html{
    height: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background-color : #f0f0f0 ;
    width: 100%;
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}

@media print {
	blockquote,p {
		orphans: 2;
		widows: 2;
	}

	blockquote,ol,ul {
		page-break-inside: avoid;
	}

	caption,h1,h2,h3 {
		page-break-after: avoid;
	}
}

@-ms-viewport {
	width:device-width;zoom:1;
}

@-o-viewport {
	width:device-width;zoom:1;
}

@viewport {
	width:device-width;zoom:1;
}

a img {
	border: 0;
}

body>script {
	display: none!important;
}
/*
*===================================
*    GENERIC
*===================================
*/
noscript {
	position: fixed;
	top: 40%;
	left: 50%;
	padding: 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-left: -200px!important;
	opacity: .9;
	border: 1px red solid;
	width: 400px!important;
	color: red;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 800;
	background-color: #000;
	text-shadow: 0 0 0 #000!important;
	z-index: 9999;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	box-sizing: border-box;
	font-family: "Open Sans","Lucida Grande","Helvetica Neue",sans-serif;
	font-weight: 300;
	font-size: 62.5%;
	color: rgba(0,0,0,0.8);
	overflow: hidden;
}

h1 {
	font-size: 3rem;
    line-height: 6rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.3),0 1px 0px rgba(255,255,255,0.2);
}

h2 {
	font-size: 2rem;
    line-height: 4rem;
	font-weight: 800;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h3 {
	font-size: 1.6rem;
    line-height: 3.2rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h4 {
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

h5 {
	font-size: 0.8rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.2);
}

p {
    font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
    line-height: 2.1rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
    letter-spacing: 0.05em;
    text-shadow: 0 0 20px rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.6);
    text-align: left;
}

a,a:active,a:visited {
	text-decoration: none;
	color: #000;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
	cursor: pointer;
}

a:hover {
	color: #000;

    transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -webkit-transition: all 0s ease;
}

audio{
    display: none;   
}

.hidden{
    display: none !important;
    opacity: 0 !important;
}
.loader{
    width:50px;
    height: 50px;
}
.loader_bar{
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 2000;
}
/*
*===================================
*    VIDEO
*===================================
*/
#video_bg {
	position: fixed;
	left: 50%;
	top: 50%;
    /*
	min-width: 100%;
	min-height: 100%;
	max-height: 4000%;
	max-width: 1000%;
    */
	z-index: -1000;
	overflow: hidden;
    
	background: url(../img/pattern.jpg) no-repeat;
	-ms-background-size: cover;
	background-size: cover;
}

#wrapper_video {
	position: absolute;
	width: 100%;
	height: 100%;
    
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYmZiNWFhIiBzdG9wLW9wYWNpdHk9IjAuOTUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZGVlMGQ5IiBzdG9wLW9wYWNpdHk9IjAuODUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M3ZDBkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(31,20%,80%,0.95)), color-stop(40%,hsla(77,10%,95%,0.7)), color-stop(100%,hsla(204,20%,70%,1)));
    background: -webkit-linear-gradient(-45deg,  hsla(31,20%,80%,0.95) 0%,hsla(77,10%,95%,0.7) 40%,hsla(204,20%,70%,1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(31,20%,80%,0.95) 0%, hsla(77,10%,95%,0.7) 40%, hsla(204,20%,70%,1) 100%);
    background: linear-gradient(135deg,  hsla(31,20%,80%,0.95) 0%,hsla(77,10%,95%,0.7) 40%,hsla(204,20%,70%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bfb5aa', endColorstr='#c7d0d6',GradientType=1 );


}
/*
*===================================
*    HEADER
*===================================
*/
#header {
	z-index: 300;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
    
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZWRlNyIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(144,22%,91%,0.3)), color-stop(100%,hsla(0,0%,0%,0)));
background: -webkit-linear-gradient(top,  hsla(144,22%,91%,0.3) 0%,hsla(0,0%,0%,0) 100%);
background: -webkit-linear-gradient(top, hsla(144,22%,91%,0.3) 0%, hsla(0,0%,0%,0) 100%);
background: linear-gradient(to bottom,  hsla(144,22%,91%,0.3) 0%,hsla(0,0%,0%,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4de3ede7', endColorstr='#00000000',GradientType=0 );
    
}

@-moz-document url-prefix() {
    #header,#footer{
        background: none !important;   
    }
}
/*
*===================================
*    WRAPPER
*===================================
*/
#wrapper {
	position: absolute;
	perspective: 1500px;
	-o-perspective: 1500px;
	-ms-perspective: 1500px;
	-moz-perspective: 1500px;
	-webkit-perspective: 1500px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #232323;
}

.yolo {
	transform: rotateX(180deg)!important;
	-o-transform: rotateX(180deg)!important;
	-ms-transform: rotateX(180deg)!important;
	-moz-transform: rotateX(180deg)!important;
	-webkit-transform: rotateX(180deg)!important;
}

#container, #mobile_disclaimer {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    display: table;
        
/*	background-image: url(../img/bg_bruit.png);*/
}
#mobile_disclaimer{
    display: none;
}

#beforeLoad{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    background:#cccbc7;
    display:table;
}
#beforeLoad div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}
/*
*===================================
*    CONTENT
*===================================
*/

/* Navigation Pages */
#navProgress{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -140px;
    left: 25px;
    width: 30px;
    height: auto;
    text-align: center;
}

#navProgress:after{
    content:'';   
}
.navProgress_step{
    display: block;
    padding: 10px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
#navProgress_bar{
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 14px;
    margin-top: 15px;
    height: 100%;
    background: rgba(0,0,0,0.1);
    
    -webkit-transition: height .6s ease;
            transition: height .6s ease;
}
.navProgress_step:hover:after{
    content: attr(data-link);
    font-size: 1.2rem;
    font-weight: 400;
    position: absolute;
    text-transform: uppercase;
    margin-left: 10px;
    opacity: 0.6;
}
.navProgress_step:hover{
    color: rgba(0,0,0,0.6);
    
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.active_step{
    color: rgba(0,0,0,0.6);
    cursor: default;
    pointer-events: none;
}
/* Pages */
.page,.mobile_page{
    width: 100%;
    height: 100%;
    padding: 0 80px;
    text-align: center;
    
    display: table-cell;
    vertical-align: middle;
}
.mobile_page{
    padding: 0 5%;
}
.mobile_page p{
    text-align: center;
    margin-top: 20px;
}
.mobile_page p a,.mobile_page p span{
    font-size: 1.4rem;
    font-weight: 800;
}
.mobile_page p a{
    border-bottom: 1px solid rgba(0,0,0,0.4);    
}
.mobile_page .description,.mobile_page .title_site{
    margin: 0px;   
}
#page_home>p{
    text-align: center;
}
.title_site{
    font-size: 4.5rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 800;
/*    text-shadow: -.03em -.03em .0em rgba(200,50,60,.7),.03em .03em .0em rgba(20,160,220,.7);*/
}
.page>header{
    position: absolute;
    top: 80px;
    left:80px;
}
.title_page{
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2em;
}
/*
.title_page:before{
    content:"▹ ";
    margin-right: 10px;
}
*/
.sub_title{
    font-weight: 400;
    line-height: 2.1rem;
}

.description{
    text-transform: inherit;
    font-size: 1.6rem;
    margin-top: 20px;
    font-weight: 400;
}
.important_words{
      
}
.important_words h4 {
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.2em;
/*    color: #000;*/
}
.important_words span {
    text-shadow: none;
    margin-top: 60px;
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.important_words i {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}
.important_words i svg {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.path{
    stroke: #000;
    stroke-width: 4;
    fill:none;
    -webkit-animation: all 3s ease;
    animation: all 3s ease;
}
.important_words p{
    text-align: center;
}
.scroll_down{
    margin-top: 30px;
}
.scroll_down>span{
    font-size: 2.4rem;
    cursor: pointer;
    
    animation: anim 2s infinite;
    -webkit-animation: anim 2s infinite;
    -moz-animation: anim 2s infinite;
    -ms-animation: anim 2s infinite;
    -o-animation: anim 2s infinite;
}

@keyframes anim {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(10px);transform: translateY(10px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@-webkit-keyframes anim {
	0% {-webkit-transform: translateY(0px);}
	50% {-webkit-transform: translateY(10px);}
	100% {-webkit-transform: translateY(0px);}
}

@-ms-keyframes anim {
	0% {-ms-transform: translateY(0px);}
	50% {-ms-transform: translateY(10px);}
	100% {-ms-transform: translateY(0px);}
}

/* Tree of Skills */
#page_skills{
/*    vertical-align: top;  */
}
#page_skills>p{
    text-align: right;
    margin-top: 80px;
}
#skills_description,.skill{
    width: 460px;
    float: right;
    text-align: right;
}
#skills_description p,.skill p{
    text-align: right;
}
.skill p a {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    border-bottom: 1px dashed rgba(0,0,0,0.4);
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
}
.skill p a:hover {
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
#tree_of_skills{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#tree_of_skills>svg{
    position: absolute;
    bottom:0;
    left:0;
}
#tree_of_skills>svg>path:last-child{
    fill: #000 !important;
    opacity: 0 !important;
    stroke-width: 0 !important;
}
.node {
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 0.6;
    -webkit-transition: opacity .6s ease;
            transition: opacity .6s ease;
    background: #fff;
    stroke: rgba(255,255,255,0.3);
    stroke-width:1.5px;
}
.node:hover{
/*    fill: rgba(0,0,0,0.2);*/
    opacity: 0.9;
    -webkit-transition: opacity 0s ease;
            transition: opacity 0s ease;
    
}
.node:active{
    cursor:-webkit-grabbing;
    cursor:grabbing
}

.link {
    fill: none;
    stroke: url(#gradient_line);
/*    stroke: rgba(0,0,0,0.1);*/
    stroke-width: 1.5px;
}

.s_img{
    width: 100%;
    height: 120px;
    margin: 30px 0;
    background: rgba(0,0,0,0.6);
    background: url(../img/skills.jpg) 0 0 no-repeat;
    background-size: 100% auto;
    opacity: 0.8;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.00, rgba(0,0,0,1)), color-stop(0.6, rgba(0,0,0,1)), color-stop(0.05, rgba(0,0,0,0)), color-stop(0, rgba(0,0,0,0)), color-stop(0.0, rgba(0,0,0,0)));
}

#s_video .s_img{ background-position: 0px 0px; }
#s_pre-production .s_img{ background-position: 0px -120px; }
#s_ideation .s_img{ background-position: 0px -240px; }
#s_scenario .s_img{ background-position: 0px -360px; }
#s_storyboard .s_img{ background-position: 0px -480px; }
#s_planning .s_img{ background-position: 0px -600px; }
#s_production .s_img{ background-position: 0px -720px; }
#s_directing .s_img{ background-position: 0px -840px; }
#s_lighting .s_img{ background-position: 0px -960px; }
#s_shooting .s_img{ background-position: 0px -1080px; }
#s_sound_taking .s_img{ background-position: 0px -1200px; }
#s_acting .s_img{ background-position: 0px -1320px; }
#s_fun .s_img{ background-position: 0px -1440px; }
#s_post-production .s_img{ background-position: 0px -1560px; }
#s_editing .s_img{ background-position: 0px -1680px; }
#s_vfx .s_img{ background-position: 0px -1800px; }
#s_motion_design .s_img{ background-position: 0px -1920px; }
#s_sound_design .s_img{ background-position: 0px -2040px; }
#s_publication .s_img{ background-position: 0px -2160px; }
#s_developement .s_img{ background-position: 0px -2280px; }
#s_front_end .s_img{ background-position: 0px -2400px; }
#s_html5_css3 .s_img{ background-position: 0px -2520px; }
#s_javascript .s_img{ background-position: 0px -2640px; }
#s_responsiv .s_img{ background-position: 0px -2760px; }
#s_back_end .s_img{ background-position: 0px -2880px; }
#s_ruby_on_rails .s_img{ background-position: 0px -3000px; }
#s_wordpress .s_img{ background-position: 0px -3120px; }
#s_3D .s_img{ background-position: 0px -3240px; }
#s_drawing .s_img{ background-position: 0px -3360px; }
#s_modelisation .s_img{ background-position: 0px -3480px; }
#s_texturing .s_img{ background-position: 0px -3600px; }
#s_animation .s_img{ background-position: 0px -3720px; }
#s_render .s_img{ background-position: 0px -3840px; }
#s_pre-rendered .s_img{ background-position: 0px -3960px; }
#s_real_time .s_img{ background-position: 0px -4080px; }

/* Production */
#page_production>p{
    text-align: center;
}
#projects{
    width:640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 60px;   
}
#projects_3D{
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateX(640px);
        -ms-transform: translateX(640px);
        transform: translateX(640px);
}
.a_project{
    position: absolute;
    top: 0;
    left: 0;
    width:640px;
    height:300px;
    display: table;
    vertical-align: top;
    margin: 0 auto;
    overflow: hidden;
    background: url(../img/projects.jpg) 0 0 no-repeat;
    background-size: auto 100%;
    padding: 10px;
    opacity: 0.5;
    -webkit-backface-visibility: hidden;
   	backface-visibility: hidden;
    -webkit-transform: translate(-1280px,0);
    -ms-transform: translate(-1280px,0);
    transform: translate(-1280px,0);
}
.a_project:nth-child(2) {
    -webkit-transform: translate(-640px,0);
    -ms-transform: translate(-640px,0);
    transform: translate(-640px,0);
    background-position: -640px 0;
}
.a_project:nth-child(3) {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    background-position: -1280px 0;
}
.a_project:nth-child(4) {
    -webkit-transform: translate(640px,0);
    -ms-transform: translate(640px,0);
    transform: translate(640px,0);
    background-position: -1920px 0;
}
.a_project:nth-child(5) {
    -webkit-transform: translate(1280px,0);
    -ms-transform: translate(1280px,0);
    transform: translate(1280px,0);
    background-position: -2560px 0;
}
.a_project>div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    background: rgba(204,203,199,0.3);
    -webkit-transition: background .6s ease;
            transition: background .6s ease;
}
.a_project:hover>div{
    background: rgba(250,250,250,0.8);
    -webkit-transition: background 0s ease;
            transition: background 0s ease;
}
.a_project header{
    display: inline-block;
    width: 30%; 
    float: left;
    position: relative;
    left: 35%;
    -webkit-transition: left .3s ease-in-out;
            transition: left .3s ease-in-out;
}
.a_project:hover header{
    opacity: 1;
    left: 0%;
}
.p_status {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 20px;
}
.a_project hr{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px auto;
    width: 40px;
}
.a_project .p_description{
    position: relative;
    left: 10%;
    width: 50%;
    float: left;
    display: block;
    padding-right: 20px;
    opacity: 0;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
.a_project:hover .p_description{
    opacity: 1 !important;
    left:0%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.a_project footer{
    position: relative;
    left: 5%;
    width: 20%;
    float: left;
    display: block;
    opacity: 0;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
.a_project:hover footer{
    opacity: 1 !important;
    left:0%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.a_project footer p{
    display: block;
    font-size: 1.2rem;
}
.p_title{
       
}
.p_tools::before{
    content: "Tools";
    display: block;
    font-weight: 800;
    text-align: center;
}
.p_role::before{
    content: "Role";
    display: block;
    font-weight: 800;  
    text-align: center;
}
/* Bonhomme */
#bonhomme{
    position: absolute;
    right: 10%;
    bottom: -3%;
    opacity: 0.8;
    display: none;  
    margin-right: -140px;
}
.animContainer{
    display: block;
    width: 320px;
    height: 320px;
    margin: 0 auto;
/*    z-index: -100;*/

    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
#bonhomme_anim{
    width: 100%;
    height: 100%;
    background: url("../img/bonhomme.png") 0 0 no-repeat;
    margin: 0 auto;
}
/* Contact */
#page_contact .bold{
    font-size: 1.4rem;
    font-weight: 800;
}
#page_contact a{
    font-size: 1.4rem;   
    border-bottom: 1px dashed rgba(0,0,0,0.4);
}
#page_contact a:hover{
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
#page_contact .description{
    margin-bottom: 20px;   
}
#page_contact p{
    text-align: center;
    line-height: 3rem;
}
.social_bar{
    margin-top: 30px;   
}
.social_bar a{
    width: 48px;
    height: 48px;
    margin: 0 10px;
    opacity: 0.7;
    border-bottom: none !important;
    display: inline-block;
}
.social_bar a svg{
    width: 48px;
    height: 48px;  
}
.social_bar a:hover{
    opacity: 1;
    border-bottom: none !important;
}

/* Mobile disclaimer */
#mobile_disclaimer{
    
}

/*
*===================================
*    FOOTER
*===================================
*/
#footer {
	z-index: 300;
	display: table;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YjkyOGIiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(100%,hsla(26,7%,58%,0.5)));
background: -webkit-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(26,7%,58%,0.5) 100%);
background: -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(26,7%,58%,0.5) 100%);
background: linear-gradient(to bottom,  hsla(0,0%,0%,0) 0%,hsla(26,7%,58%,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#809b928b',GradientType=0 );


}

#progressBar {
	display: block;
	position: fixed;
	z-index: 120;
	width: 0;
	height: 5px;
	background: rgba(255,255,255,.3);
	bottom: 0;
	left: 0;
	transition: width .5s ease;
	-o-transition: width .5s ease;
	-ms-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-webkit-transition: width .5s ease;
}

#controls {
	text-align: left;
	width: 100%;
	margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
#controls a{
    display: block;
    float: left;
    overflow: hidden;
    color: rgba(0,0,0,.3);
    text-align: center;
    width: 25px;
	height: 30px;
	font-size: 3rem;
    padding-top: 4px;
}
#controls a:hover {
	color: rgba(0,0,0,.6);
}
.toggle_sound{
    display:block;
    height: 32px !important;
    width: 32px !important;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -7px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.toggle_sound span{
    display: inline-block;
    float: left;
    height: 50%;
    width: 3px;
    margin-right: 2px;
    background: rgba(0,0,0,0.3);
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
    -webkit-animation: sound_bar 0.9s infinite;
    animation: sound_bar 0.9s infinite;
    -webkit-animation-delay: 1.0s;
            animation-delay: 1.0s;
}
.toggle_sound span:nth-child(1){
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; 
}
.toggle_sound span:nth-child(2){
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
}
.toggle_sound span:nth-child(3){
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;   
}
.toggle_sound span:nth-child(4){
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;    
}
.toggle_sound:hover span{
    background: rgba(0,0,0,0.6);
}
.mute_sound span{
    height: 5%;   
    -webkit-animation: none;
    animation: none;
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
}

@-webkit-keyframes sound_bar {
  0%   { height: 10%; opacity:0.5; }
  100% { height: 50%; opacity:1; }
}
@keyframes sound_bar {
  0%   { height: 10%; opacity:0.5; }
  100% { height: 50%; opacity:1; }
}

@media screen and (max-width: 1024px){
    #controls{
        display: none;   
    }
    #bonhomme{
        display: none !important;   
    }
}
@media screen and (max-width: 960px){
    #container{
        display:none;  
    }
    #tree_of_skills,#header,#footer{
        display: none;
    }
    #mobile_disclaimer{
        display:table;    
    }
}